:root {
  --darkAccent900: black;
  --darkAccent800: #262626;

  --lightAccent000: white;
  --lightAccent100: #e9e9e9;
  --lightAccent400: #9d9d9d;

  --blueAccent500: #4a26fd;
  --blueAccent600: #3722f6;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--darkAccent900);
  color: var(--lightAccent000);
  margin: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-weight: 400;
}
h2 {
  font-weight: 400;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.middle {
  margin-top: auto;
  margin-bottom: auto;
}

.portfolioSections {
  padding: 10px;
  border-radius: 10px;
}

/* Styles for the site's navigation */
.navigationLinks {
  background-color: transparent;
  border: none;
  color: var(--lightAccent000);
  text-decoration: none;
  padding-left: 4px;
  padding-right: 0px;
  letter-spacing: 4px;
}
.navigationLinks:hover {
  animation-name: navigationFade;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

#siteNavigation {
  height: 100%;
  position: fixed;
  padding: 30px;
  background-color: var(--darkAccent800);
}

#navigationTitle {
  color: dimgray;
  margin-top: auto;
  margin-bottom: auto;
  cursor: default;
}

#profilePicture {
  justify-self: center;
  margin-bottom: 20px;
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

/* Styles for the home page */
#home {
  background-color: var(--darkAccent800);
  animation-name: revealSections;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes navigationFade {
  to {
      background-color: var(--lightAccent100);
      color: var(--darkAccent800);
  }
}

@keyframes revealSections {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
      box-shadow: 5px 5px 0px var(--lightAccent400);
  }
}
